// .text-black { color: $black; }

// .max-w-670 { max-width: 670px; }

// .bg-grey { background-color: $grey-300 !important; }

// .relative { position: relative; }

// .text-grey-100 { color: $grey-100; }
