h1 {
  font-size: 3.6875rem;
  font-weight: 700;
  color: $green-100;
}

h2 {
  font-size: 3.1875rem;
  font-weight: 700;
  color: $green-100;
}

h3 {
  font-size: 1.5625rem;
  font-weight: 700;
  color: $white;
}

h4 {
  font-size: 3.0625rem;
  font-weight: 700;
  color: $white;
}

h5 {
  font-size: 3.0625rem;
  font-weight: 600;
  color: $green-300;
}

h6 {
  font-size: 3.875rem;
  font-weight: 300;
  color: $green-100;
}

